main {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.video {
  width: 100%;
  height: 100%;
}

.video__wrapper {
  width: 100%;
}

.video__wrapper--16_9 {
  aspect-ratio: 16/9;
}

.video__wrapper--1_1 {
  aspect-ratio: 1/1;
}

.video__wrapper--3_1 {
  aspect-ratio: 3/1;
}
